* {
    font-family: Anuphan, sans-serif;
}

body {
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
        ),
      url("galaxis-nebula-sterne-weltraum-1641701178HeV.jpg");
    height: 100%;
}

h1, h2{
    text-align: center;
    color: #fff;
}

.gamewrapper {
    background-color:fuchsia;
    margin: auto;
    border: 1em outset black;
    width: 45em;
    height: 45em;
}

#inlineGame {
    height:100%;
    width: 100%;
}

.authors{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: fit-content;
    border: 0px;
    border-radius: 3px;
}

.gameinfo{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: fit-content;
    border: 0px;
    border-radius: 3 px;
}

button{
    background-color: rgba(25, 25, 112, 0.75);   
    color: #fff;
    font-family: Anuphan, sans-serif;
    border: 2px solid white;
    border-radius: 3px;
}

.footer{
    width: fit-content;
    flex-grow: 1;
    padding: 20px;
    margin: auto;
}

.header{
    width: fit-content;
    margin: auto;
}

.flex-column{
    display: flex;
    flex-direction:column;
    margin: auto;
    justify-content: space-evenly;
    width:75%;
    height: 90%;
}